.closed-door {
    width: 140px;
    height: 140px;
    background-color: rgb(187, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: whitesmoke solid 3px;
    margin: 0 5px;
    cursor: pointer;
}

.door-number {
  color: white;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 0 0 20px rgb(92, 0, 0);
  font-size: 30px;
}


