.closed-door {
    width: 140px;
    height: 140px;
    background-color: rgb(187, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    opacity: 90%;
    border: whitesmoke solid 3px;
    margin: 0 5px;
    cursor: pointer;
    /* position: absolute; */
}

.door-number {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


