.door-details-container {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

.door-details {
    height: 450px;
    width: 350px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.door-details img {
    height: 250px;
    width: 250px;
    border: black solid 1px;
}