.calendar {
  height: 100vh;
  width: 100vw;
  background-image: url("https://s3-eu-central-1.amazonaws.com/org.myadvent.media/images/previews/6660d6a578f3c2afecaeb07ad5cdf43b-background-9d006e597af5eb8d083a44f861976b5a.jpeg");
};
