.calendar {
  height: 90vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  height: 10vh;
  width: 100vw;
  background-color: grey;
  opacity: 50%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}